node_modules/
dist/
build/
dist_electron/
.turbo/
.pnpm-store/

coverage/
*.tsbuildinfo

.DS_Store

.env.local
.env.*.local

.idea/
.settings/
.vscode/

bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

*.swf
*.air
*.ipa
*.apk
